// foundation
// --------------------------------------------------
@import "~assets/scss/_foundation/_reset";

// layout
// --------------------------------------------------
@import "~assets/scss/_layout/_header";
@import "~assets/scss/_layout/_footer";

.label {
  color: red;
}

.avatarInAssetsImages {
  background: url("~assets/images/avatar.png");
  height: 100px;
  width: 32px;
}

.satsutabaBintaInAssetsImages {
  background: url("~assets/images/satsutaba_binta.png") no-repeat center center / cover;
  height: 100px;
  width: 100px;
}
